* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  height: 100vh;
  span,
  p, .date {
    color: #f1f1f1;
    line-height: 1.25;
    font-weight: lighter;
    font-size: 0.5em;
    text-decoration: none;
  }
  a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  body {
    padding: 0 20px;
    background: #141414;
    color: #FFF;
    max-width: 1200px;
    margin: 0 auto;
    #app {

      header {
        padding: 40px 0;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          li {
            list-style-type: none;
           
          }
        }
      }
      .container {
        font-size: 4rem;
        .press-page {
          margin: 60px auto 0;

          .press-post-basic {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
  
            
            .press-post-content {
              width: 33%;
              padding-bottom: 60px;

              .date {
                font-weight: bold;
                font-size: 12px;
                margin-bottom: 10px;
              }
              a {
                text-decoration: none;
              }
              .press-title {
                line-height: 1.23;
                color: #FFF;
                font-size: 24px;
              }
            }
          }
        
          .pagination {
            // width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px 0;

            span,
            a {
              color: rgba(32, 41, 58, 0.5);
              font-size: 18px;
              font-weight: bold;
              margin: 0 15px;
              font-family: Rubik, sans-serif;
        
            }
          }
        }
        .gallery {
          display: grid;
          grid-template-columns: repeat( auto-fit, minmax(25vw, 1fr) );
          grid-template-rows: auto;
          grid-auto-flow: dense;
          gap: .25em;
          align-items: stretch;
          img {
            width:100%;
            // height: 100%;
            object-fit: cover;
            display: block;
            opacity: 0;
            transition: opacity .5s ease-in;
            &.load {
              opacity: 1;
              // transition-delay: .5s;;
            }
          }
        }
        .page-basic {
          .bio {
            margin: 20px 0;
          }
        }
      }
    }
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grow-left {
  from {
    opacity: 0;
    // transform: translateX(-20%);
  }

  to {
    // transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
